@import url("./modal.css");

.error-msg{
    display: none;
    color: #fe142f;
    font-weight: normal;
    font-size: medium;
}
.modal-body-registered{
    display: none;
    padding: 15px 8%;
    margin: 15px auto;
    max-height: 751px;
}.modal-body-registered p{
    display: flex;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: max-content;
    height: 620px;
}